<div class="jumbotron mt-3">
  <h1 class="display-4">Welcome! Management System</h1>
  <p class="lead">Manage employees easily...</p>
  <hr class="my-4">
  <p>Register</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/users/add/" role="button">Create an Account</a>
  </p>
</div>